html, body {
    height: 100%;
    color: #333; /* Темно-серый текст */
}

body {
    font-family: Arial, sans-serif;
    background-color:  /* Светло-серый фон */
    margin: 0px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    > main {
        flex-grow: 1;
        height: 100%;
    }
}

header {
    border-bottom: 1px solid #ccc; /* Светло-серый бордер */
    display: flex;
    width: 98%;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px 20px;
    a {
       font-size: 20px;
       margin: 0;
       color: #007bff;
    }
    margin-bottom: 30px;
}

#error {
    color: #FFA500;
}

footer {
    border-top: 1px solid #ccc; /* Светло-серый бордер */
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    text-align: center;
    padding: 10px 0;
}

h1 {
    color: #007bff; /* Синий текст */
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e0e0e0; /* Светло-серый фон */
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ccc; /* Светло-серый бордер */
    border-radius: 10px;
    width: 35%;
}

a {
    text-decoration: none;
    color: #007bff; /* Синий текст */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Темно-синий текст при наведении */
}

form {
    background: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc; /* Светло-серый бордер */
    border-radius: 10px;
    margin-top: 20px;
}

form > label {
    color: #333; /* Темно-серый текст */
    font-size: 18px;
}

input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 20px 0px;
    background-color: #007bff; /* Синий фон */
    color: #fff; /* Белый текст */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}